p{
    background-color: 4px solid red;
    border: 8px;
    border-radius: 10px;
    color: rgb(255, 0, 0);
    font-weight: 700;
    padding: 150px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}